# Configuration directories
**/.vscode/
**/.idea/
**/.clion/
**/.pycharm/
**/.atom/

# Configuration files
/Makefile.user
/advanced_programming_2019-20.cflags
/advanced_programming_2019-20.config
/advanced_programming_2019-20.creator
/advanced_programming_2019-20.creator.user
/advanced_programming_2019-20.cxxflags
/advanced_programming_2019-20.files
/advanced_programming_2019-20.includes

# Dolphin configuration
.directory

# Built binaries/onjects/libraries
*.o
*.x
*.exe
*.so
*.a
a.out

# Code analysis configuration files
compile_flags.txt
compile_commands.json

# Clang Formatter
.clang-format

# Special files and folders
gitignored-*
**/gitignored-*/
